// Font
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Medium.ttf);
}
.inter-font {
  font-family: 'Inter';
}

// body & html
body {
  font-family: 'Inter';
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior-x: none;
}
html {
  overscroll-behavior-x: none;
}
html.ns-resize,
html.ns-resize * {
  cursor: ns-resize !important;
}
::-webkit-scrollbar {
  display: none;
}

/* Disable pinch zooming */
@viewport {
  zoom: 1 !important;
  max-zoom: 1 !important;
  min-zoom: 1 !important;
  user-zoom: fixed !important;
}

// Animations
.blink {
  animation: blink 0.5s;
}
@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: $accent;
  }
  100% {
    background-color: white;
  }
}

// Quasar Overwrites
.q-bar--standard,
.q-bar--dense {
  padding: 0 4px;
}
.q-dialog__inner--minimized {
  padding: 3px;
}

// Dropdown
.q-btn-dropdown--simple * + .q-btn-dropdown__arrow {
  margin-left: 0;
}

// Pseudo Classes
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.float-right {
  float: right;
}
.bg-shadow-primary {
  box-shadow: 0 0 2px $primary;
}
.bg-shadow-secondary {
  box-shadow: 0 0 2px $secondary;
}
.secondary-gradient {
  background: linear-gradient(to right, white, $secondary) !important;
}
.secondary-radial-gradient-light {
  background: radial-gradient(rgb($secondary, 0.3), white) !important;
}
.transparent-primary-background {
  background: rgba($primary, 0.4) !important;
}
.router-link {
  color: black;
  text-decoration: none;
}
